body{
    height: 90vh;
    width: 0%;
    background-image: url(https://img.freepik.com/foto-gratis/papel-pintado-pared-hormigon-pintado-textura-concepto-coloreado_53876-31799.jpg?size=626&ext=jpg);
    background-size: cover;
}
.h1
{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 55px;
    text-align: center;
    border: 5px solid greenyellow;

}

.button
{
    border: none;
    font-size: 35px;
    padding: 10px;
    margin-top: 40px;
}